.meeting-list {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.meeting {
  justify-items: center;
  padding: 5px 5px 5px 5px;
  width: 200px;
  height: 300px;
}
