main {
  width: 100%;
  margin: auto;
  text-align: center;
}

.join-button {
  margin-top: 20px;
  background-color: #2d8cff;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

.join-button:hover {
  background-color: #2681f2;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  box-shadow: 0px 0px 5px grey;
}

.header-text {
  padding: 5px;
}

.header-image {
  width: 130px;
  padding: 20px;
}

.nav {
  margin-left: auto;
  margin-right: 40px;
}

.app-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 35px;
}

.foot {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: darkgray;
  color: white;
  text-align: center;
  line-height: 30px;
}

.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #404040;
  overflow-x: hidden;
  padding-top: 15px;
  transition: 0.5s;
  font-size: 12px;
  text-justify: inter-word;
}

.sidebar p {
  padding: 30px 25px 8px 30px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.close-button {
  padding-left: 15px;
  color: lightgrey;
}